{% extends 'mainpage/base.html' %}
{% block body_block %}


<h4 class="my-3 bg-white">
    Blog
</h4>

{% with posts.first as p %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark"  id="list-item-1">
    <strong class="d-inline-block mb-2 text-primary">{{ p.location }}</strong>
    <h1 class="display-4 font-italic">{{ p.name }}</h1>
    <div class="col-md-6 px-0">
        <p class="mb-1 text-muted">{{ p.created_at.date }} - {{ p.created_by }}</p>
        <p class="lead content my-3">{{ p.content|truncatewords:"75"|safe|linebreaks }}</p>
        <p class="lead mb-0"><a href="{% url 'blog:post' p.slug %}" class="text-white font-weight-bold">Read
                more...</a></p>
    </div>
</div>
{% endwith %}

<div class="row mb-2">
    {% for p in posts|slice:"1:3" %}
    <div class="col-md-6" id="list-item-{{ forloop.counter}}">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">{{ p.location }}</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="{% url 'blog:post' p.slug %}">{{ p.name }}</a>
                </h3>
                <div class="mb-1 text-muted">{{ p.created_at.date }} - {{ p.created_by }}</div>
                <p class="card-text mb-auto">{{ p.content|truncatewords:"55"|safe|linebreaks }}...</p>
                <a href={% url 'blog:post' p.slug %}> Read more...</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row sticky-top">
    <div class='col-sm-8 col-lg-10 my-1' id='scrolled' data-bs-spy="scroll" data-bs-target="#myScrollspy">
        {% for p in posts|slice:"3:" %}
        {% if p.active %}
        <div class="card my-3" id="list-item-{{ forloop.counter}}">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-8 col-sm-9 col-lg-10">
                        <h5 class="card-title">
                            <a href="{% url 'blog:post' p.slug %}">
                                {{ p.name }}
                            </a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ p.location }} - {{ p.created_at.date }} - {{ p.created_by }}
                        </h6>
                    </div>

                </div>
                <p class="card-text my-2"><strong>Content:</strong><br>
                    {{ p.content|truncatewords:"45"|safe|linebreaks }}...<br>
                </p>

            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    {% if posts|length > 3 %}
    <nav class="col-sm-4 col-lg-2 my-1" id="myScrollspy">
        <ul class="nav nav-pills flex-column bg-white">
            {% for p in posts %}
            {% if p.active %}
            <li class="nav-item">
                <a class="nav-link" href="#list-item-{{ forloop.counter }}">
                    {{ p.name }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}


</div>

{% endblock body_block %}