{% extends "mainpage/base.html" %}
{% block body_block %}


<div class="jumbotron">

    <h3 class="display-6 bg-col-vis">{{ post.created_by }}</h3>
    <p class="lead bg-col-vis">{{ post.name }}</p>
    <hr class="my-4">
    <p class="bg-col-vis">
        {{ post.location }} - {{ post.created_at.date }} <br>
        {% if post.modified_at.date != post.created_at.date %}
            - Last edit by {{ post.modified_by }}, on {{ post.modified_at.date }}
        {% endif %} 
    </p>
    <image src="{{post.picture.url}}"
    
</div>

<p>
    {% load static %}
    {{ post.content|safe|linebreaks }}
</p>

{% if post.attachment.all %}
<h5>
    Attachments:
</h5>
    {% for attachment in post.attachment.all %}
        <div>
            <embed class="embed-responsive embed-responsive-4by3" src="{{ attachment.file.url }}">
        </div>
    {% endfor %}
{% endif %}

{% endblock %}