body{
    font-family: Helvetica, sans-serif;
}
header{
    font-family: Helvetica, sans-serif;
}

.content p:first-of-type::first-letter{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    float: left;
    font-size: 3rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
}

.ontop{
    z-index: 2;
    position: relative !important;
}

.row{
    z-index: 1;
}

.active{
    background-color: rgb(235, 235, 235) !important;
    color: black !important;
}

a{
    color: gray;
}

.blend {
    mix-blend-mode: exclusion;
}

#scrolled{
    position: relative;
    overflow-y: scroll;
    height: 60vh;
}