body{
    font-family: Helvetica;
}
header{
    font-family: Helvetica;
}

.ontop{
    z-index: 2;
    position: relative !important;
}

.row{
    z-index: 1;
}

.active{
    background-color: rgb(235, 235, 235) !important;
    color: black !important;
}

a{
    color: gray;
}

.blend {
    mix-blend-mode: exclusion;
}

#scrolled{
    position: relative;
    overflow-y: scroll;
    height: 60vh;
}