body{
    font-family: Arial;
    mix-blend-mode: difference !important;
}
header{
    font-family: Arial;
    mix-blend-mode: difference !important;
}

.ontop{
    z-index: 2;
    position: relative !important;
}

.row{
    z-index: 1;
}

.active{
    background-color: rgb(235, 235, 235) !important;
    color: black !important;
}

a{
    color: gray !important;
    mix-blend-mode: difference;
}

p{
    mix-blend-mode: difference;
}
#scrolled{
    position: relative;
    overflow-y: scroll;
    height: 60vh;
}