{% extends "mainpage/base.html" %}
{% block body_block %}

<div class="row my-4">
    <div class="col-sm-2 col-lg-1 mx-auto">
        <img src="{{ entry.company.picture.url }}" alt="" class='img-fluid'>
    </div>

    <div class="col-sm-10 col-lg-11">
        <h5 class="">{{ entry.name }}</h5>
        <h6 class="mb-2 text-muted">
            {{ entry.company }} - {{ entry.department }}
        </h6>
        <h6 class="mb-2 text-muted">
            {{ entry.location }}, {{ entry.start_date }} - {{ entry.end_date_display }}
        </h6>
    </div>

</div>

<p class="my-2"><strong>Description:</strong><br>
    {{ entry.description|safe|linebreaks }}<br>
</p>
{% if entry.key_achievements%}
<p class=""><strong>Key achievements:</strong><br>
    {{ entry.key_achievements|safe|linebreaks }}
</p>
{% endif %}

{% if entry.project.all %}
<p>
    <strong>Projects:</strong>
</p>

<div id="project-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for proj in entry.project.all %}
        <li data-target="#project-carousel" data-slide-to="{{ forloop.counter0 }}"
            class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner">
        {% for proj in entry.project.all %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img class="d-block w-100" src="{{ proj.picture.url }}" alt="{{ proj.name }} picture">
            <div class="carousel-caption d-none d-md-block">
                <a href="{{ proj.get_absolute_url }}">
                    <h5 >{{ proj.name }}</h5>
                </a>
                <p >{{ proj.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#project-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#project-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endif %}

{% if entry.attachment.all %}
<p>
    <strong>Attachments:</strong>
</p>
{% for attachment in entry.attachment.all %}
<div>
    <embed class="embed-responsive embed-responsive-4by3" src="{{ attachment.file.url }}">
</div>
{% endfor %}
{% endif %}

{% endblock %}