{% extends "mainpage/base.html" %}
{% block body_block %}

<div class="row my-4">
    <div class="col-sm-2 col-lg-1 mx-auto">
        <img src="{{ education.company.logo.url }}" alt="" class='img-fluid'>
    </div>

    <div class="col-sm-10 col-lg-11">
        <h5 class="">{{ education.name }}</h5>
        <h6 class="mb-2 text-muted">
                {{ education.company }}
        </h6>
        <h6 class="mb-2 text-muted">
            {{ education.location }}, {{ education.start_date }} - {{ education.end_date_display }}
        </h6>
    </div>
    
</div>

<p class="my-2"><strong>Description:</strong><br>
    {{ education.descript|linebreaks }}<br>
</p>


{% if education.projects %}
    <h4>
        Projects:
    </h4>
    <div class="row">

    {% for project in education.projects.all %}
        <div class="col-lg-6 col-sm-4 my-2">
        <h6 class="font-weight-bold">{{ project.name }}</h6>
        <p>
            {{ project.descript }}
        </p>
        </div>
        
        <div class="col-lg-6 col-sm-8 my-2">
        <embed class="embed-responsive" src= "{{ project.attachment.url }}">
        </div>
    {% endfor %}

    </div>
{% endif %}

{% endblock %}