{% extends "mainpage/base.html" %}
{% block body_block %}

<div class="row my-4">
    <div class="col-sm-2 col-lg-1 mx-auto">
        <img src="{{ experience.company.logo.url }}" alt="" class='img-fluid'>
    </div>

    <div class="col-sm-10 col-lg-11">
        <h5 class="">{{ experience.name }}</h5>
        <h6 class="mb-2 text-muted">
                {{ experience.company }} - {{ experience.department }}
        </h6>
        <h6 class="mb-2 text-muted">
            {{ experience.location }}, {{ experience.start_date }} - {{ experience.end_date_display }}
        </h6>
    </div>
    
</div>

<p class="my-2"><strong>Description:</strong><br>
    {{ experience.description|linebreaks }}<br>
</p>
{% if experience.key_achievements%}
<p class=""><strong>Key achievements:</strong><br>
    {{ experience.key_achievements|linebreaks }}
</p>
{% endif %}

{% if experience.project.all %}
    <h5>
        Projects:
    </h5>

    <div id="project-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        {% for proj in experience.project.all %}
            <li data-target="#project-carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
        </ol>

        <div class="carousel-inner">
        {% for proj in experience.project.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="d-block w-100" src="{{ proj.picture.url }}" alt="{{ proj.name }} picture">
                <div class="carousel-caption d-none d-md-block">
                    <a href="{% url 'resume:project-detail' proj.slug %}"><h5>{{ proj.name }}</h5></a>
                    <p>{{ proj.description }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#project-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#project-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endif %}

{% if experience.attachment.all %}
<h5>
    Attachments:
</h5>
    {% for attachment in experience.attachment.all %}
        <div>
            <embed class="embed-responsive embed-responsive-4by3" src="{{ attachment.file.url }}">
        </div>
    {% endfor %}
{% endif %}

{% endblock %}