{% extends "mainpage/base.html" %}
{% block body_block %}


<img class="img-fluid" width=100% src="{{project.picture.url}}">

<div class="jumbotron">
    <h4 class="display-4 bg-col-vis ">{{ project.name }}</h4>
    <p class="lead bg-col-vis ">{{ project.description }}</p>
</div>
<p>
    {{ project.content|safe|linebreaks }}
</p>

{% if project.attachment.all %}
<h5>
    Attachments:
</h>
{% for attachment in project.attachment.all %}
<div class="row my-3">
    <p>{{ attachment.name }}</p>
    <div class="embed-responsive embed-responsive-1by1">
        <embed class="embed-responsive-item" src="{{ attachment.file.url }}">
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}