{% extends "mainpage/base.html" %}
{% block body_block %}


<div class="jumbotron" style="background-image: url({{ project.picture.url }});>

    <h3 class="display-4 bg-col-vis blend">{{ project.name }}</h3>
    <p class="lead bg-col-vis blend">{{ project.description }}</p>
    
</div>

<p>
{{ project.content|safe|linebreaks }}
</p>

{% if project.attachment.all %}
<h5>
    Attachments:
</h5>
    {% for attachment in project.attachment.all %}
        <div class="row">
            <embed class="embed-responsive embed-responsive-4by3" src="{{ attachment.file.url }}">
        </div>
    {% endfor %}
{% endif %}

{% endblock %}