{% extends 'mainpage/base.html' %}

{% block body_block %}
<h3 class="my-3">
    Skills
</h3>

<div class="row justify-content-center">
    {% for category in skillcategories %}
        <div class="col-lg-4 col-sm-6 card mx-2 py-2"> 
            <h5>
                {{ category.name }}
            </h5>
            <p>
                {{ category.description }}
            </p>
            {% for skill in category.skill_set.all %}
                    <p>
                    {% for star in i|rjust:5 %}
                        {% if forloop.counter0 <= skill.level %}
                            <i class="fas fa-star"></i>
                        {% else %}
                            <i class="far fa-star" ></i>
                        {% endif %}
                    {% endfor %}

                    <a href="{{ skill.url }}">{{ skill.name }}</a> 
                    </p>
            {% endfor %}
        </div>
    {% endfor %}

</div>

{% endblock %}