asgiref==3.5.2
astroid==2.3.3
boto3==1.26.16
botocore==1.29.16
colorama==0.4.3
Django==4.1.7
django-cors-headers==3.11.0
django-health-check==3.17.0
django-storages==1.13.1
djangorestframework==3.14.0
docutils==0.15.2
gunicorn==20.1.0
isort==4.3.21
jmespath==0.9.5
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==9.3.0
psycopg2==2.9.5
pylint==2.4.4
pylint-django==2.0.14
pylint-plugin-utils==0.6
python-dateutil==2.8.1
pytz==2022.1
s3transfer==0.6.0
six==1.14.0
sqlparse==0.4.2
urllib3==1.26.13
wrapt==1.11.2
