{% extends "mainpage/base.html" %}
{% block body_block %}

<h2 class="my-3">
    About me
</h2>

<div class="row">
    <div class="col-lg-4 col-sm-6 my-3">
        {% load static %}
        <img src="{% static "mainpage/profilepic.png" %}" width=100% class="border">
    </div>
    <div class="col-lg-8 col-sm-6 my-3">
        <p>
            I'm Lorenzo, energy engineer by formal training, jack of all trades by attitude and development. Currently
            working in technical program management and aiming to grow into product management.
        </p>
        <h5>
            Why do I have a portfolio website
        </h5>
        <ol>
            <li>
                Why not?
            </li>
            <li>
                To showcase my coding <a href="{% url 'resume:skills' %}">skills</a>. This website was developed using
                the
                Python Django framework, and it runs on a CI/CD pipeline based on <a
                    href="https://jenkins.io/">Jenkins</a>, <a href="https://www.docker.com/">Docker</a> and <a
                    href="https://kubernetes.io/">Kubernetes</a>, pulling the source code from <a
                    href="https://github.com/">Github</a>.
            </li>
            <li>
                To extend and supplement my <a href="https://www.linkedin.com/in/lorenzosp/">Linkedin profile</a>.
            </li>
        </ol>
    </div>
</div>


{% endblock %}