<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title_block %}
    <title>Lorenzo Spinelli's portfolio website</title>
    {% endblock %}
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainpage/mainstyle.css' %}">

</head>

<body>

    {% block header_block %}
    <header class="header">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-1">

            </div>
            <div class="col-10 text-center my-1">
                <h2>
                    Lorenzo <b>Spinelli</b> 
                </h2> 
                <p>Energy engineer | Project Manager EMEA at Tesla</p>
            </div>

            <div class="col-1">
                
            </div>
        </div>
    </header>
    {% endblock %}

    {% block navbar_block %}
    <nav class="navbar navbar-expand-sm sticky-top bg-white navbar-light">
        <div class="container">
            
            <li class="navbar-brand align-items-start">
                <div class="row">
                    <div class="col-xs-4">
                        {% load static %}
                        <img src="{% static 'mainpage/CV-image3.jpg' %}" alt="" height='40px' class='rounded mr-4'>
                    </div>
                    <div class="col-xs-8">
                        <a class="nav-link" href="{% url 'about' %}">Home</a>
                    </div>
                </div>
            </li>

            <ul class="nav navbar-nav">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a>
                </li>
                <li class="nav-item dropdown mx-2 ontop">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resume
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'resume:experience' %}">Experience</a>
                    <a class="dropdown-item" href="{% url 'resume:education' %}">Education</a>
                    <a class="dropdown-item" href="{% url 'resume:skills' %}">Skills</a>
                    </div>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}

    <div class="container">
        {% block body_block %}
        <!-- Anything outside this will be inherited. -->
        {% endblock %}
    </div>

</body>
</html>