{% extends "mainpage/base.html" %}
{% block body_block %}

<style>
.sticky-top.sticky-second{
    top: 66px;
}
.sticky-top.sticky-third{
    top: 98px;
}
#scrolled{
    position: relative;
    overflow-y: scroll;
    height: 60vh;
}
</style>

<!-- Navigation by Tabs -->
<ul class="nav nav-tabs sticky-top sticky-second bg-white" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="Experience-tab" data-toggle="tab" href="#Experience" role="tab" aria-controls="Experience" aria-selected="true">
            Experience
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" id="Education-tab" data-toggle="tab" href="#Education" role="tab" aria-controls="Education" aria-selected="false">
            Education
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="Projects-tab" data-toggle="tab" href="#Projects" role="tab" aria-controls="Projects" aria-selected="false">
            Projects
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="Skills-tab" data-toggle="tab" href="#Skills" role="tab" aria-controls="Skills" aria-selected="false">
            Skills
        </a>
    </li>
</ul>

<div class="tab-content my-2"  id="myTabContent">

    <div class="tab-pane fade show active" id="Experience" role="tabpanel" aria-labelledby="Experience-tab">

        <div class="row">

            <nav class="col-sm-5 col-lg-4" id="myScrollspy">
                <ul class="nav nav-pills flex-column bg-white">
                    {% for exp in experiences %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#list-item-{{ forloop.counter }}">
                            {{ exp.start_date }} - {% if exp.current %}Present{% else %}{{ exp.end_date}}{% endif %}
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </nav>
            
            
            <div class='col-sm-7 col-8' id='scrolled' data-spy="scroll" data-target="#myScrollspy" data-offset="1">
                {% for exp in experiences %}
                <div class="card" id="list-item-{{ forloop.counter}}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 col-4 mx-auto">
                                <img src="{{ exp.company.logo.url }}" alt="" class='img-fluid'>
                            </div>

                            <div class="col-sm-10 col-8">
                                <h5 class="card-title">{{ exp.role }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                        {{ exp.company }} - {{ exp.department }}
                                </h6>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ exp.location }}, {{ exp.start_date }} - {% if exp.current %}Present{% else %}{{ exp.end_date}}{% endif %}
                                </h6>
                            </div>
                            
                        </div>
                        <p class="card-text">Description: <br>
                            {{ exp.descript }}<br>
                        </p>
                        <p class="card-text">Key achievements <br>
                            {{ exp.key_achievements }}
                        </p>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>

    
    </div>

        <div class="tab-pane fade" id="Education" role="tabpanel" aria-labelledby="Education-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laboriosam voluptatem neque, quis quae, ducimus itaque culpa alias unde at qui eius labore vitae. Similique necessitatibus molestias porro veniam libero.
        </div>

        <div class="tab-pane fade" id="Projects" role="tabpanel" aria-labelledby="Projects-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus asperiores similique exercitationem earum consequatur ex distinctio suscipit vitae porro ipsum laboriosam aut fugit eligendi harum id, officiis velit molestiae molestias.
        </div>

        <div class="tab-pane fade" id="Skills" role="tabpanel" aria-labelledby="Skills-tab">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure pariatur esse quibusdam tenetur sequi, aut voluptatibus omnis minus facere impedit! Officia eum quae rem nostrum? Vero aperiam sed libero!
        </div>
</div>
    
{% endblock %}